body{
    margin: 20px 50px;
}

.part{
    color: blueviolet;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    flex-direction: column;   
    align-items: center; 
}

.part h2{
    font-size: 50px;
}