


.navbar {
  background-color: #1e27cb;
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 80px;
}

.logo {
  font-size: 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
